@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.navigation {
  @include mixins.row-space-between-center();
  justify-content: space-around;
  height: 40px;
  width: 350px;
  padding: 8px;
  margin: auto;
  @include mixins.border-radius();
  background: config.$white;
  box-shadow: config.$card-shadow;
  border: 1px solid config.$action;

  @include mixins.mobile {
    width: 100%;
  }
}

.nav {
  font-weight: bold !important;

  @include mixins.desktop {
    &:hover {
      cursor: pointer;
      color: config.$action;
    }
  }
}

.navActive {
  color: config.$action;
  font-weight: bold !important;
}
