@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.popUp {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 12px;
  text-align: right;
  height: 800px;
  overflow-y: auto;
  background: config.$background;
  border: 1px solid config.$lightgrey;
  box-shadow: config.$card-shadow;

  @include mixins.desktop {
    right: 0px;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    @include mixins.mobile {
      flex-direction: column-reverse;
    }

    p {
      margin: 8px 0px;
      font-size: config.$tiny-font;
    }

    div {
      margin-left: 20px;
    }

    .image {
      position: relative;
      width: 550px;
      height: 400px;
      margin-bottom: 20px;

      @include mixins.mobile {
        width: 250px;
        height: 300px;
      }
    }

    .mediaContainer {
      height: 400px;
      width: 550px;
      margin-bottom: 20px;

      .video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    margin: auto;

    .row {
      justify-content: center;
    }

    @include mixins.mobile {
      width: 100%;
    }

    @include mixins.tablet {
      width: 100%;
    }
  }
}
