@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 250px;
  background: config.$brand;
  padding: 12px;
  height: 100%;
  min-height: 250px;

  button {
    @include mixins.button(config.$action, config.$background, 150px);
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: config.$content-width;
    margin: auto;

    @include mixins.mobile {
      flex-direction: column;
      width: 100%;
    }
  }

  .information {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: 8px 0px;

      p {
        font-weight: 300;
        margin: 0px 12px;
        text-align: right;
      }
    }
  }
}
