@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 200px;
  padding: 12px;
  font-weight: 300;

  .container {
    margin: auto;

    @include mixins.mobile {
      flex-direction: column;
      width: 100%;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }

    .image {
      margin: 0px 12px;
    }
  }
}

.copyright {
  font-size: 12px;
  text-align: center;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }

    .action {
      margin: 0px 8px;
    }
  }
}
