@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 250px;
  background: config.$cream;
  padding: 12px;
  height: 100%;
  min-height: 250px;
  font-weight: 300;

  .scroll {
    background: config.$brand;
    border-radius: 50px;
    position: relative;
    bottom: 20px;
  }

  .container {
    margin: auto;

    @include mixins.mobile {
      flex-direction: column;
      width: 100%;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    min-width: 100px;
    margin: 20px 0px;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }

    .image {
      margin: 0px 12px;
    }
  }
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }

    .action {
      margin: 0px 8px;
    }
  }
}
