@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  font-weight: 300;

  @include mixins.mobile {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: config.$big-font;
    font-weight: bold;
  }

  button {
    @include mixins.button(config.$brand, config.$white);
    margin: auto;
  }
}

.formAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0px;
}

.input {
  margin: 12px 0;

  .bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;
    margin-bottom: 4px;

    span {
      color: config.$red;
      font-size: config.$tiny-font;
    }
  }

  input {
    @include mixins.input();
    width: 100%;
  }

  select {
    @include mixins.input();
    width: 100%;
  }

  textarea {
    @include mixins.textarea();
  }

  p {
    display: flex;
    flex-direction: row-reverse;
  }
}

.mediaPreview {
  position: relative;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .media,
  .voice {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
  }

  .media {
    height: 300px;
  }
}

.navigation {
  @include mixins.row-space-between-center();
  justify-content: space-around;
  height: 40px;
  width: 200px;
  padding: 8px;
  margin: auto;
  margin-bottom: 12px;
  box-shadow: config.$card-shadow;
  border: 1px solid config.$grey;

  @include mixins.mobile {
    width: 100%;
  }
}

.nav {
  @include mixins.desktop {
    &:hover {
      cursor: pointer;
      color: config.$brand;
    }
  }
}

.navActive {
  color: config.$brand;
  font-weight: bold !important;
}

.activationContainer {
  display: flex;
  justify-content: center;
  margin: 12px 0px;

  .activationCode {
    display: flex;
    flex-direction: row-reverse;

    p {
      margin: 0px 4px;
      height: 35px;
    }
  }
}
