@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: config.$content-width;
  @include mixins.row-space-between-center();
  user-select: none;

  @include mixins.mobile {
    width: 100%;
  }

  @include mixins.tablet {
    width: 100%;
  }

  @include mixins.desktop {
    padding: 12px 0px;
  }

  .logo {
    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.largeMenu {
  width: 100%;
  @include mixins.row-space-between-center();
  flex-direction: row-reverse;

  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    padding: 0px 12px;
    width: 100%;
  }

  .largeNavigation {
    width: 60%;
    @include mixins.row-space-between-center();

    @include mixins.tablet {
      width: 80%;
    }
  }
}

.icon {
  margin-left: 8px;
}

.nav {
  font-weight: 300 !important;
  @include mixins.row-space-between-center();
  justify-content: flex-end;

  @include mixins.desktop {
    &:hover {
      cursor: pointer;
      color: config.$brand;
    }
  }
}

.navActive {
  color: config.$brand;
  font-weight: bold !important;
  @include mixins.row-space-between-center();
  justify-content: flex-end;
}

.smallMenu {
  width: 100%;

  @include mixins.desktop {
    display: none;
  }

  .menuIcon {
    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .topBar {
    width: 100%;
    padding: 12px;
    height: 50px;
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
  }

  .menuMobile {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    background: config.$brand;

    p {
      padding: 8px 0px;
    }

    @include mixins.desktop {
      display: none;
    }

    .buttons {
      display: flex;
      flex-direction: column;

      button {
        @include mixins.button(config.$black, config.$black);
        margin: 12px 0px;

        @include mixins.desktop {
          &:hover {
            cursor: pointer;
            background: config.$white;
            color: config.$black;
          }
        }
      }
    }
  }
}
