@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.coverImageContainer {
  position: relative;
  height: calc(100vh - 50px);
  margin-bottom: 20px;

  @include mixins.mobile {
    height: 300px;
  }
}

.information {
  font-weight: 300;
  text-align: right;
  margin: 20px auto;
  padding: 12px;

  @include mixins.desktop {
    width: config.$content-width;
  }

  .input {
    margin-top: 40px;
    text-align: center;

    .image {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .loader {
      height: 50px;
    }

    button {
      @include mixins.button(config.$brand, config.$white);
      margin-top: 20px;
    }
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  @include mixins.tablet {
    width: calc(100% - 24px);
  }

  .section {
    direction: rtl;

    @include mixins.tablet {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      gap: 12px;
    }

    @include mixins.mobile {
      direction: ltr;
    }
  }

  .details {
    display: flex;
    align-items: center;
    margin: 16px 0px;
    cursor: pointer;

    @include mixins.mobile {
      flex-direction: row-reverse;
    }

    p {
      margin: 0px 16px;
    }
  }
}

.information {
  h3 {
    margin-bottom: 25px;
  }
}

.imageBoxDesktop {
  position: relative;
  height: 100%;

  .information {
    position: absolute;
    left: 20px;
    z-index: 3;
    width: 25%;
    border: none;
    border-radius: 12px;
    @include mixins.transparentBackground(0.2, config.$white);

    h3 {
      margin-bottom: 25px;
    }
  }
}

.bannerContainer {
  display: flex;
  height: 120px;
  margin-top: 50px;

  .image {
    position: relative;
    width: 100%;
  }
}

.update {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  direction: rtl;
  align-items: flex-start;
  margin: auto;
  margin-top: 50px;
  width: config.$content-width;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    width: calc(100% - 24px);
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: calc(100% - 24px);
  }

  .card {
    border: 1px solid config.$lightgrey;
    background: config.$white;
    font-weight: 300;

    .info {
      padding: 12px;

      h3,
      p {
        margin: 8px 0px;
      }

      span {
        color: config.$brand;
        border-bottom: 1px solid config.$brand;
        font-size: config.$tiny-font;
        cursor: pointer;
        font-weight: bold;
      }
    }

    .coverImageContainer {
      position: relative;
      width: 100%;
      height: 250px;
      cursor: pointer;
    }
  }
}

.timeline {
  text-align: center;
  padding-top: 20px;
  margin: auto;
  width: config.$content-width;

  .row {
    width: 25%;
    margin: auto;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  @include mixins.tablet {
    width: calc(100% - 24px);
  }

  p {
    margin: 12px 0px;
    font-weight: 300;
  }
}

.notFound {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
