@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.heroHeader {
  position: relative;
  height: 600px;
  width: 100%;

  .heroImage {
    object-position: 50% 30%;
  }

  .intro {
    position: absolute;
    top: 10px;
  }
}
