@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.heroHeader {
  position: relative;
  height: 600px;
  width: 100%;

  @include mixins.mobile {
    height: 300px;
  }

  .heroImage {
    object-position: 50% 20%;
  }
}

.intro {
  position: absolute;
  z-index: 2;
  bottom: 12px;
  left: 12px;
  width: 400px;
  text-align: right;
  color: config.$black;
  background: config.$white;
  padding: 12px;
  @include mixins.border-radius();
  @include mixins.transparentBackground(0.5, config.$white);

  @include mixins.mobile {
    display: none;
  }
}
