@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  margin: auto;
  margin-top: 120px;
  font-weight: 300;
  width: config.$content-width;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  @include mixins.tablet {
    width: calc(100% - 24px);
  }

  .button {
    text-align: center;
    margin-bottom: 20px;

    button {
      @include mixins.button(config.$action, config.$white);
    }
  }
}

.inputSearch {
  @include mixins.row-space-between-center();
  width: 100%;
  margin: 50px 0px;

  input {
    @include mixins.input();
    width: 100%;
    margin: 0px 20px;
  }

  button {
    @include mixins.button(config.$action, config.$background);
  }
}

.form {
  margin-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  align-items: flex-start;
  gap: 12px;
  direction: rtl;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .item {
    position: relative;
    padding: 12px;
    background: config.$white;
    border: 1px solid config.$lightgrey;

    span {
      color: config.$action;
      border-bottom: 1px solid config.$action;
      font-size: config.$tiny-font;

      @include mixins.desktop {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .verified {
      position: absolute;
      left: 12px;
      top: 12px;
    }

    .action {
      display: flex;
      margin-top: 20px;

      .icon {
        margin: 0px 8px;

        @include mixins.desktop {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;

  p {
    margin: 8px 0px;
    font-size: config.$tiny-font;
  }

  .imageContainer {
    margin-left: 20px;
    min-width: 130px;
  }
}

.mediaContainer,
.speechContainer {
  position: relative;
  margin: 12px 0px;
  width: 100%;
  text-align: center;

  .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.mediaContainer {
  height: 300px;
}

.navigationContainer {
  padding: 12px;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid config.$action;
  @include mixins.row-space-between-center();
  justify-content: space-around;
  user-select: none;

  @include mixins.mobile {
    width: 100%;
  }

  .navigation {
    width: 350px;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      width: 100%;
      justify-content: space-around;
    }
  }
}

.nav {
  font-weight: bold !important;
  border-bottom: 1px solid config.$background;

  @include mixins.desktop {
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid config.$action;

      color: config.$action;
    }
  }
}

.navActive {
  color: config.$action;
  border-bottom: 1px solid config.$action;
  font-weight: bold !important;
}
