@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  margin: auto;
  font-weight: 300;
  width: config.$content-width;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  @include mixins.tablet {
    width: calc(100% - 24px);
  }

  .button {
    text-align: center;
    margin-bottom: 40px;

    button {
      @include mixins.button(config.$brand, config.$white);
    }
  }
}

.controlPanel {
  width: 500px;
  text-align: center;
  margin: 40px auto;

  @include mixins.mobile {
    width: 100%;
  }

  .input {
    margin-top: 40px;

    .bar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .label {
      color: config.$grey;
      font-size: config.$small-font;
      margin-bottom: 4px;

      span {
        color: config.$red;
        font-size: config.$tiny-font;
      }
    }

    input {
      @include mixins.input();
      width: 100%;
    }
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

    .remove {
      @include mixins.button(config.$red, config.$white);
    }
  }
}

.inputSearch {
  @include mixins.row-space-between-center();
  direction: rtl;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
  @include mixins.tablet {
    display: flex;
    flex-direction: column;
  }
  .row {
    margin: 20px 20px;
  }

  input {
    @include mixins.input();
    width: 250px;
    margin-right: 20px;
  }

  button {
    @include mixins.button(config.$brand, config.$background);
  }
}

.form {
  margin-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  align-items: flex-start;
  gap: 12px;
  direction: rtl;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .item {
    position: relative;
    padding: 12px;
    background: config.$white;
    border: 1px solid config.$lightgrey;

    span {
      color: config.$brand;
      border-bottom: 1px solid config.$brand;
      font-size: config.$tiny-font;

      @include mixins.desktop {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .verified {
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }
}

.uploadForm {
  margin: auto;
  text-align: center;
  width: config.$content-width;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  button {
    @include mixins.button(config.$brand, config.$background);
    margin-bottom: 20px;
  }
}

.logout {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: 300;
  color: config.$grey;

  p {
    border-bottom: 1px solid config.$grey;
  }

  @include mixins.desktop {
    &:hover {
      cursor: pointer;
    }
  }
}

.mediaContainer,
.speechContainer {
  position: relative;
  margin: 12px 0px;
  width: 100%;
  text-align: center;

  .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.mediaContainer {
  height: 300px;
}

.categoryContainer {
  padding-bottom: 12px;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid config.$lightgrey;
  @include mixins.row-space-between-center();
  justify-content: space-around;
  user-select: none;

  @include mixins.mobile {
    width: 100%;
  }

  .category {
    width: 350px;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      width: 100%;
      justify-content: space-around;
    }
  }

  .nav {
    font-weight: bold !important;
    border-bottom: 1px solid config.$background;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid config.$brand;

        color: config.$brand;
      }
    }
  }

  .navActive {
    color: config.$brand;
    border-bottom: 1px solid config.$brand;
    font-weight: bold !important;
  }
}

.typeContainer {
  position: relative;
  padding: 8px;
  margin: 20px auto;
  width: 60%;
  user-select: none;

  @include mixins.mobile {
    width: 100%;
  }

  .type {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 12px;
    margin: auto;
    direction: rtl;

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }

    @include mixins.tablet {
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: config.$grey;
    border: 1px solid config.$lightgrey;
    border-radius: 12px;
    height: 40px;

    &:hover {
      cursor: pointer;
      color: config.$brand;
      border: 1px solid config.$brand;
    }
  }

  .navActive {
    display: flex;
    justify-content: center;
    align-items: center;
    color: config.$brand;
    border: 1px solid config.$brand;
    border-radius: 12px;
  }
}
