@use "config" as config;

$screen-mobile: 700px;
$screen-tablet: 1200px;
$screen-large: 2000px;

@mixin mobile {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$screen-mobile} ) and (max-width: #{$screen-tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$screen-mobile} ) and (max-width: #{$screen-large}) {
    @content;
  }
}

@mixin row-space-between-center() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin button($color, $subColor) {
  width: 135px;
  height: 35px;
  border-radius: 12px;
  font-weight: bold;
  background: $color;
  color: $subColor;
  font-size: 14px;
  border: none;
  box-shadow: config.$button-shadow;

  &:hover {
    cursor: pointer;
    color: $color;
    border: 1px solid $color;
    background: config.$background;
  }
}

@mixin input() {
  padding: 12px;
  height: 50px;
  font-weight: 300;
  outline: none;
  border-radius: 12px;
  background: config.$background;
  color: config.$black;
  font-size: config.$small-font;
  border: 1px solid config.$grey;

  &:focus {
    outline: none;
    background: transparent;
    border: 1px solid config.$brand;
  }
}

@mixin textarea() {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 12px;
  outline: none;
  border-radius: 12px;
  font-weight: 300;
  background: config.$background;
  color: config.$black;
  font-size: config.$small-font;
  border: 1px solid config.$grey;

  &:focus {
    outline: none;
    background: transparent;
    border: 1px solid config.$black;
  }
}

@mixin transparentBackground($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}
