@use "config" as config;
@use "mixins" as mixins;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: config.$font;
}

html {
  background: config.$background;
}

body {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 300;
}

.main {
  min-height: 100vh;
  margin-top: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 50;
  top: 0px;
  width: 100%;
  height: 50px;
  background: config.$brand;
  box-shadow: config.$button-shadow;
}

.alert,
.message {
  text-align: center;
  color: config.$red;
  margin: 16px 0px;
  font-size: config.$tiny-font;
}

.message {
  color: config.$grey;
}
